fabfile.py
local.py
local_urls.py

## migrations file
## **/migrations/**
## !**/migrations
## !**/migrations/__init__.py

# vim swap
*.swp
.*.swp
#[0-9]*.py
## Directory-based project format:
.idea/

# Distribution / packaging
work
log
.cache


### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

## SQLite
db.sqlite3

### Sass template
.sass-cache
*.css.map

## autoenv
.env

# ads log path

# ignore for pytest cache, pytest-cov
.pytest_cache
.coverage
htmlcov

node_modules
package-lock.json